
#menu-toggler span:nth-child(even) {
    left: 50%;
    border-radius: 0px 9px 9px 0px;
}

#menu-toggler span:nth-child(odd){
    left: 0px;
    border-radius: 9px 0px 0px 9px;
}

#menu-toggler.open .menu-toggler__line:nth-child(1) span:nth-child(1),
#menu-toggler.open .menu-toggler__line:nth-child(3) span:nth-child(2){
    transform: rotate(45deg);
}

#menu-toggler.open .menu-toggler__line:nth-child(1) span:nth-child(2),
#menu-toggler.open .menu-toggler__line:nth-child(3) span:nth-child(1){
    transform: rotate(-45deg);
}

#menu-toggler.open .menu-toggler__line:nth-child(2) span:nth-child(1),
#menu-toggler.open .menu-toggler__line:nth-child(2) span:nth-child(2){
    opacity: 0;
}
